[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Aa]ssets/AssetStoreTools*
[Pp]ackages/manifest.json.meta
[Pp]ackages/packages-lock.json.meta
.vs/
.idea/
*.csproj
*.sln
MemoryCaptures/
*.user
*.suo
*.tmp
*.bak
*.swp
*.pidb
*.booproj
Builds/